pandas==2.2.2
numpy==1.26.4
pydantic==2.7.4
ta==0.11.0
plotly==5.23.0
streamlit==1.37.1
python-telegram-bot==20.8
requests==2.32.3
python-dotenv==1.0.1
schedule==1.2.2
backtrader==1.9.78.123
yfinance==0.2.43
PyYAML==6.0.2
tenacity==8.5.0
pytest==8.3.2
